@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap");

* {
  font-family: "Courier Prime", monospace;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./images/ezgif-5-5283fc8662.gif");
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  margin: 20px;
  text-align: center;
}

.description > * {
  margin: 10px;
}

.options {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.option {
  display: flex;
  justify-content: center;
  width: 25%;
  box-sizing: border-box;
  border: 2px solid transparent;
  height: 160px;
  padding: 20px;
}

.option:hover {
  border: 2px solid white;
}

img {
  max-height: 100%;
  /* width: 100%; */
}

.scoreline {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

.score-heading {
  font-size: 40px;
  font-weight: bold;
}

.scoreboard-bottom {
  display: flex;
  height: fit-content;
}

.earth-score,
.alien-score {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.middle-line {
  width: 5px;
  height: 100px;
  background-color: white;
}

.choices {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.together {
  display: flex;
  align-items: center;
}

.earth-choice > div,
.alien-choice > div {
  height: 160px;
  width: 400px;
}

.earth-choice,
.alien-choice {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 200px;
}

.earth-choice img,
.alien-choice img {
  height: 100%;
}

.ending-text {
  margin: 30px 0;
  text-align: center;
}
